
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div> 
        <form method="post" action="Update()">
            <div class="form-group">
                <label>Mail actuel : <input type="email" name="oldmail"></label>
                <label>Nouveau mail : <input type="email" name="newmail"></label>
                <input type="submit" name="submit" value=" Envoyer ">
            </div>
        </form>
    </div>
</body>
</html>
